@import url("https://fonts.googleapis.com/css?family=Aleo:400,700");

$family-primary: "Aleo";
$break-width: 700px;

#top-container {
  @media screen and (min-width: $break-width) {
    width: $break-width;
  }
}

div.image {
  width: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@import "../../node_modules/bulma/bulma.sass";
